.col-4 {
    border: 2px solid black;
  }
  .col-1 img,
  h6,
  h3,
  h1 {
    text-align: center;
  }
  .col-1 img {
    margin-left: 7px;
  }
  .serch-body{
    /* margin: 0px 100px; */
    margin-left:10px ;
  }
  .list-part ul li a{
  list-style: none;
  text-decoration: none;
  color: black;
}
.list-part ul{
  color: orangered;
}
.list-part ul li{
  list-style: none;
}
.list-part ul li a:hover{
  color: rgb(207, 41, 41);
}
.back{
  background-color: #2B3149;
}
.back h2, h6{
  text-align: left;
  color: white;
}
.back  .container h4{
  background-color: #2B3149;
  color: white;
}
.dark{
  background-color: #2B3149;
  color: white;
}
.container .card1{
  background-color: #2B3149;
}
.footer{
  background-color: #333338;
}